@model IPagedList<BootcampFinal.Models.Building>

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addBuildingModal">
    Add new building
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @message.Content
        </div>
        <!-- /.card-body -->
    </div>
}

@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title">Search Results</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Name</span><br />
            @Html.ActionLink("Clear Search", "Index", "Building", null, new { @class = "btn btn-sm btn-default mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}

<div class="card card-primary mt-4">
    <div class="card-header">
        <b>Building List</b>
    </div>

    <table class="table table-hover table-bordered table-striped">

        <thead>
            <tr>
                <th style="width:6%">#.</th>
                <th>Name</th>
                <th>Floor</th>
                <th class="text-right" style="width:10%">İşlem</th>
            </tr>
        </thead>

        <tbody>
            @{
                int page = ((int)ViewBag.page);
                int counter = (page - 1) * 10;
            }

            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <td>@counter.</td>
                    <td>@item.Name</td>
                    <td>@item.Floor</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-warning editBtn" data-toggle="modal" data-target="#editBuildingModal" data-id="@item.Id">Edit</button>
                        <button type="button" class="btn btn-sm btn-danger editBtn" data-toggle="modal" data-target="#deleteBuildingModal" data-id="@item.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="col-md-12">
        <div class="float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search }), new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link", "text-bold" },
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToIndividualPages = true
       })
        </div>
    </div>
</div>


<!-- ADD -->

<div class="modal fade" tabindex="-1" role="dialog" id="addBuildingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new building</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Building" asp-action="AddBuilding" method="post">
                    <div class="form-group">
                        <label for="Name">Name:  </label>
                        <input type="text" id="Name" name="name" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="Floor">Floor:  </label>
                        <input type="number" id="Floor" name="Floor" class="form-control" required />
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>

<!-- EDIT -->

<div class="modal fade" tabindex="-1" role="dialog" id="editBuildingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new building</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Building" asp-action="EditBuilding" method="post">
                    <input type="hidden" id="Id" name="Id" class="Id" value="" />
                    <div class="form-group">
                        <label for="Name">Name:  </label>
                        <input type="text" id="Name" name="name" class="form-control " required />
                    </div>

                    <div class="form-group">
                        <label for="Floor">Floor:  </label>
                        <input type="number" id="Floor" name="Floor" class="form-control " required />
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>

<!-- DELETE -->

<div class="modal fade" tabindex="-1" role="dialog" id="deleteBuildingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new building</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Building" asp-action="DeleteBuilding" method="post">
                    <input type="hidden" id="Id" name="Id" class="Id" value="" />
                    <div class="form-group">
                        <label for="Name">Name:  </label>
                        <input type="text" id="Name" name="name" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="Floor">Floor:  </label>
                        <input type="number" id="Floor" name="Floor" class="form-control" required />
                    </div>


                    <div class="form-group">
                        <input type="submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script type="text/javascript">
        $(function () {
            $(".editBtn").on("click", function () {
                var buildingId = $(this).data("id");
                var getUserUrl = "@Url.Action("GetBuilding", "Building", null, "http")";
                var fullUrl = getUserUrl + "/" + buildingId;

                $.get(fullUrl, function (data, status) {
                    $("input#Name").val(data.name);
                    $("input#Floor").val(data.floor);
                    $("input#Id").val(data.id);                    
                });

            })
        })
    </script>

}