@model IPagedList<Vehicle>

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addVehicleModal">
    Add new vehicle
</button>

<form class="form-inline float-right" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" value="@ViewBag.search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

@if (TempData["message"] != null)
{
    NotificationViewModel message = NotificationViewModel.GetNotificationFromJson(TempData["message"].ToString());

    <div class="mt-4 card margin-top bg-gradient-@message.NotificationType.ToString()">
        <div class="card-header">
            <h3 class="card-title">@message.Title</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @message.Content
        </div>
        <!-- /.card-body -->
    </div>
}

@if (ViewBag.search != null)
{
    <div class="mt-4 card margin-top bg-gradient-info">
        <div class="card-header">
            <h3 class="card-title">Search Results</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @ViewBag.searchCount results have been found from the search for "@ViewBag.search" in <span class="badge badge-light">Name</span><br />
            @Html.ActionLink("Clear Search", "Index", "Vehicle", null, new { @class = "btn btn-sm btn-default mt-2" })
        </div>
        <!-- /.card-body -->
    </div>
}

<div class="card card-primary mt-4">
    <div class="card-header">
        <b>Vehicle List</b>
    </div>

    <table class="table table-hover table-bordered table-striped">

        <thead>
            <tr>
                <th style="width:6%">#.</th>
                <th>Owner</th>
                <th>Plate</th>
                <th>Type</th>
                <th class="text-right" style="width:10%">İşlem</th>
            </tr>
        </thead>

        <tbody>
            @{
                int page = ((int)ViewBag.page);
                int counter = (page - 1) * 10;
            }

            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <td>@counter.</td>
                    <td>@item.User.Name @item.User.LastName</td>
                    <td>@item.Plate</td>
                    <td>@item.Type</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-warning editBtn" data-toggle="modal" data-target="#editVehicleModal" data-id="@item.Id">Edit</button>
                        <button type="button" class="btn btn-sm btn-danger editBtn" data-toggle="modal" data-target="#deleteVehicleModal" data-id="@item.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div class="col-md-12">
        <div class="float-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.search }), new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "page-item" },
           PageClasses = new string[] { "page-link", "text-bold" },
           DisplayLinkToFirstPage = PagedListDisplayMode.Always,
           DisplayLinkToLastPage = PagedListDisplayMode.Always,
           DisplayLinkToNextPage = PagedListDisplayMode.Always,
           DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
           DisplayLinkToIndividualPages = true
       })
        </div>
    </div>
</div>
<!-- ADD -->

<div class="modal fade" tabindex="-1" role="dialog" id="addVehicleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Vehicle" asp-action="AddVehicle" method="post">

                    <div class="form-group">
                        <label for="Building">Resident:</label>
                        <select class="form-control UserId" name="UserId">
                            <option value="0">Select a Resident</option>
                            @foreach (var item in (List<UserFlat>)ViewBag.user)
                            {
                                <option value="@item.User.Id">@item.User.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Plate">Plate:  </label>
                        <input type="text" id="Plate" name="Plate" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="Type">Type:  </label>
                        <input type="text" id="Type" name="Type" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>


<!-- Edit -->

<div class="modal fade" tabindex="-1" role="dialog" id="editVehicleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Vehicle" asp-action="EditVehicle" method="post">

                    <input type="hidden" id="Id" name="Id" class="Id" value="" />
                    <div class="form-group">
                        <label for="Building">Resident:</label>

                        <select class="form-control UserId" name="UserId">
                            <option value="0">Select a Resident</option>
                            @foreach (var item in (List<UserFlat>)ViewBag.user)
                            {
                                <option value="@item.User.Id">@item.User.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Plate">Plate:  </label>
                        <input type="text" id="Plate" name="Plate" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="Type">Type:  </label>
                        <input type="text" id="Type" name="Type" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-warning" value="Edit" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>



<!-- Delete -->

<div class="modal fade" tabindex="-1" role="dialog" id="deleteVehicleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Vehicle" asp-action="DeleteVehicle" method="post">

                    <input type="hidden" id="Id" name="Id" class="Id" value="" />
                    <div class="form-group">
                        <label for="Building">Resident:</label>
                        <select class="form-control UserId" name="UserId" disabled>
                            <option value="0">Select a Resident</option>
                            @foreach (var item in (List<UserFlat>)ViewBag.user)
                            {
                                <option value="@item.User.Id">@item.User.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="Plate">Plate:  </label>
                        <input type="text" id="Plate" name="Plate" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label for="Type">Type:  </label>
                        <input type="text" id="Type" name="Type" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <i>
                    Açıklama yazılacak
                </i>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".editBtn").on("click", function () {
                var VehicleId = $(this).data("id");
                var getVehicleUrl = "@Url.Action("GetVehicle", "Vehicle", null, "http")";
                var fullUrl = getVehicleUrl + "/" + VehicleId;

                $.get(fullUrl, function (data, status) {
                    $("select.UserId").val(data.userId);
                    $("input#Plate").val(data.plate);
                    $("input#Type").val(data.type);
                    $("input#Id").val(data.id);
                });

            })
        })
    </script>
} 